.main {
  width: 100%;
  margin: 4rem 0;
  text-align: center;
}

.main > div {
  display: flex;
  justify-content: center;
}

.main > div p {
  margin: 1rem 2rem;
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}

.main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
  padding: 1rem;
}
.main .static_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.2rem;
  padding: 1rem;
}

.main img {
  height: auto;
  /* width: 100%; */
}

@media screen and (max-width:940px) {
  .best {
      margin: 1rem 0;
  }

  .main > div p {
      margin: 1rem;
      font-size: 1rem;
  }

  .main .container {
      grid-template-columns: 1fr;
      grid-gap: .5rem;
  }
}



@media screen and (max-width: 478px) {
  .best > div p {
      margin: 1rem .5rem;
  }
}